.header-div {
    height: 70px;
    background-color: #fff;
    padding: 0 30px;
}

.user-avtar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #d8caca;
    background-color: #d8caca;
}