table {
    width: 100%;
}

.table-header {
    background-color: white;
    height: 80px;
}

.heading {
    height: 70px;
    padding: 20px 20px 0 20px;
}

.mat-header-row {
    background-color: #58AA9E;
}

.mat-header-cell {
    color: #fff !important;
}

.mat-table {
    padding: 15px;
}