.mat-form-field-appearance-outline {
    width: 100%;
}

.gender-container {
    padding: 8px 0 25px 0;
}

.submit-btn {
    width: 80px;
    border: 1px solid #58AA9E;
    border-radius: 20px;
    height: 40px;
    background-color: #58AA9E;
    color: white;
    cursor: pointer;
}