<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        {{data.type}} User
    </div>
    <div>
        <span class="material-icons" style="cursor: pointer;" (click)="onClose()">
            close
        </span>
    </div>
</div>
<hr>
<div mat-dialog-content>
    <form [formGroup]="userForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="nameController" required>
            <mat-error>Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailController" required>
            <mat-error>
                <span *ngIf="userForm.controls.emailController.hasError('required')">Email is required</span>
                <span *ngIf="userForm.controls.emailController.hasError('pattern')">Please enter valid Email</span>
            </mat-error>
        </mat-form-field>
        <div class="gender-container">
            <span style="margin-right: 8px;">
                Gender *
            </span>
            <mat-radio-group aria-label="Select an option" formControlName="genderController" required>
                <mat-radio-button [value]="1" style="margin-right: 8px;">Male</mat-radio-button>
                <mat-radio-button [value]="2">Female</mat-radio-button>
            </mat-radio-group>
            <mat-error>
                <span *ngIf="userForm.controls.genderController.hasError('required') && userForm.controls.genderController.touched">Gender is required</span>
            </mat-error>
        </div>

        <mat-form-field appearance="outline" class="dateField">
            <mat-label>Date of Birth</mat-label>
            <!-- <input name="currentDate" matInput [(ngModel)]="currentDate" readonly> -->
            <input matInput [max]="maxDate" [matDatepicker]="picker1" formControlName="dateController" readonly required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error>
                <span *ngIf="userForm.controls.dateController.hasError('required')">Date is required</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput rows="4" formControlName="addressController"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions style="float: right;">
    <button class="submit-btn" (click)="onSubmit()">Submit</button>
</div>