.main-container {
    padding: 30px;
}
.dashboard-container {
    @media (min-width: 426px) and (max-width: 2560px) {
        width: 85%;
    }
}

.statistics-container {
    height: fit-content;
    @media (min-width: 426px) and (max-width: 2560px) {
        width: 15%;
    }
}

.progress-label {
    height: 30px;
    padding: 5px 5px 0 5px;
}

.body-container, .male-female-container {
    padding: 20px 0;
}

.gender-labels {
    font-size: 18px;
    font-weight: 500;
}

.mat-progress-bar {
    height: 11px;
    border-radius: 10px;
}